* {
  margin: 0;
  padding: 0;
}


.nav-bar {
  display: flex;
  background-color: #333;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  font-variant: normal;
  font-style: none;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.nav-item {
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.nav-item:hover {
  background-color: #111;
}

.img {
  background-image: url('../img/y.jpg');
  background-position: center;
  display: flex;
  height: 500px;
  justify-content: center;
  margin: auto;
  position: relative;
  text-align: center;
  width: 300px;
}

.img-box {
  background-color: #111;
  margin: 10px;
  padding: 1%;
}

.titulo-box {
  background-color: #333;
  display: flex;
  margin: 10px;
  padding: 5% 2%;
  width: auto;
  border-radius: 10px;
  justify-content: center;
  color: wheat;
}

.titulo {
  width: 98%;
  text-align: center;
  font-size: 200%;
  font-family: cursive;
}

.body-two-box {
  background-color:antiquewhite;
  margin: 10px;
  padding: 180px 60px;
  height: max-content;
  text-align: center;
}

.body-two-text {
  margin: 5%;
  font-weight: 600;
}

.body-two-list {
  list-style: none;
}

.body-three-box {
  background-color: brown;
  margin: 10px;
  padding: 90px;
  height: max-content;
}
